<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="vh-100 background col-md-6 offset-md-3">
					<header>
						<nav>
							<ul class="mt-1 d-flex">
								<li class="px-1">
									<a href="/">Home</a>
								</li>
								<li class="px-1 mx-2">
									<a href="/todos">Create Todo</a>
								</li>
							</ul>
						</nav>
					</header>
					<section class="d-flex">
						<header class="header mt-5">
							<h1>Todo App!</h1>
						</header>
					</section>
				</div>
			</div>
		</div>
	</body>
</html>
